/*HEADER*/
html {
    background-color: #3FBDBD;
}

header {
    padding-top: 15px;
    padding-bottom: 40px;
}
.quote {
    text-align: justify;
    font-style: italic;
    margin: 20px;
}
.comment {
    text-align: justify;
    margin: 20px;
}

h1 {
    font-size: 100px;
    font-family: 'Poiret One', cursive;
    padding: 0px;
}

body {
    font-family: 'Inconsolata' ;
    text-align: center;
    margin: 20px;
    padding-bottom: 20px;
}
.btn-default {
    color: #3FBDBD;
}
/*NAVIGATION BAR*/
header nav {
  float: right;
}
.navigation {
    width: 200px;
    margin: 0 auto;
}
li {
    list-style-type: none;
}
a {
    color: #3FBDBD;
}
