/*HEADER*/
html {
    background-color: #3FBDBD;
}
.page-header {
padding-bottom: 10px;
}
.quote {
    text-align: justify;
    font-style: italic;
    margin: 20px;
}
.comment {
    text-align: justify;
    margin: 20px;
}
#logo {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out;
}
#logo:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

h1 {
    font-size: 100px;
    font-family: 'Poiret One', cursive;
    padding: 0px;
}
h2 {
    font-family: 'Poiret One', cursive;
    margin-bottom: 30px;
}
h3 {
    font-family: 'Poiret One', cursive;
}
body {
    font-family: 'Inconsolata' ;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.btn-default {
    color: #3FBDBD;
}
/*NAVIGATION BAR*/
header nav {
  float: right;
}
ul {
    padding-top: 50px;
    margin:0 auto;
padding-left:0;
}
li {
    list-style-type: none;
    margin:0;
    padding:0;
}
a {
    color: #3FBDBD;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
}
/*.flexitem {
    flex: 1 0 300px;
    margin: 20px;
}*/
