{{outlet}}
<h2>ABOUT ME</h2>

  <img src="/assets/images/giuliaphoto.jpeg" alt="" style="width:200px;" />
<h3>Passion for Beauty</h3>

<p>Growing up in Italy made me appreciate the beauty in things. Italians have an innate appreciation for what is beautiful, an attention to detail that I have never seen anywhere else. For me it started when my family restored our house in Verona. The building was from the 1500 but really run down and my parents wanted to rebuid it but preserving it as much as possible. My father cut out a shape for every sigle step of the stairs. We scraped every inch of the beams because sanding them was going to ruin them. We pulled up every floor tile, choose the intact ones, cleaned and shine their surface and put them back in. Every piece of old furniture was restored.The product was a beautiful house that we are really proud of and that taught me the value of patience and care.</p>

<h3>Dedication to Technology</h3>

<p>Technology and science is what moves socity forward. There is hope in technology, there is energy and optimism. When as I kid I came to Los Angeles, my parents brought me to places like the Palomar Observatory,   Universal Studios, the California Science Center. Everything was so advanced, so modern and so user friendly. It was the opposite of Italy. It made a big impression and I dreamed to be a scientist and an astronomer. I went on to study literature but I kept the interest in modern technologies until I finally did an intensive course in web development. Right now I am focused on building websites using Javascript and Javascript frameworks, but I love keeping up to date and form an unbiased opinion on whatever the next trend is. </p>

<h3>Experience in UX</h3>

<p> I have been for several years on the administrator side of the software. I had to use all kinds of software for work: accounting software, logistics, human resources, hospitality.
In my most recent experience I helped design and maintain an ecommerce website with over 900 products, where order processing, product uploading, sales analysis were a daily task. I know what the experience should feel like on the side of the user and I aim at developing products that are not just beautiful and technologically advanced but extremely practical and that make it easier to run your business.
</p>
