{{outlet}}
<h2>ABOUT ME</h2>

<h3>Passion for Beauty</h3>

<p>Growing up in Italy made me appreciate the beauty in things. Italians have an innate appreciation for what is beautiful, an attention to detail that I have never seen anywhere else. For me it started when my family restored our house in Verona. The building was from the 1500 but really run down and my parents wanted to rebuid it but preserving it as much as possible. My father cut out a shape for every sigle step of the stairs. We scraped every inch of the beams because sanding them was going to ruin them. We pulled up every floor tile, choose the intact ones, cleaned and shine their surface and put them back in. Every piece of old furniture was restored.The product was a beautiful house that we are really proud of and that taught me the value of patience and care.</p>

<h3>Dedication to Technology</h3>

<p>Technology and science is what moves socity forward. There is hope in technology, there is energy and optimism. When as I kid I came to Los Angeles, my parents brought me to places like the Palomar Observatory,  the Universal Studios, the California Science Center. Everything was so advanced, so modern and so kid friendly. It was the opposite of Italy. It made a big impression and I dreamed to be a scientist and an astronomer. I went on to study literature but the dream caught up to me and I am finally realizing it.</p>

<h3>Commitment to UX</h3>

<p>After helping designing and maintaining an ecommerce website with over 900 products, I know exactly what the administrator experience should be like.
</p>
