{{outlet}}
<h2>About Me</h2>

<h1>Passion for Beauty</h1>

<p>Growing up in Italy made me appreciate the beauty in things. Italians have an innate appreciation for what is beautiful, an attention to detail that I have never seen anywhere else. For me it started when my family restored our house in Verona. The building was from the 1500 but really run down and my parents wanted to rebuid it but preserving it as much as possible. My father cut out a shape for every sigle step of the stairs. We scraped every inch of the beams because sanding them was going to ruin them. We pulled up every floor tile, choose the intact ones, cleaned and shine their surface and put them back in. Every piece of old furniture was restored.The product was a beautiful house that we are really proud of and that taught me the value of patience and care.</p>

<h1>Dedication to Technology</h1>

<p>Technology and science is what moves socity forward. There is hope in technology, there is energy and optimism. When as I kid I came to Los Angeles, my parents brought me to places like the Palomar Observatory,  the Universal Studios, the California Science Center. Everything was so advanced, so modern and so kid friendly. It was the opposite of Italy. It made a big impression and I dreamed to be a scientist and an astronomer. I went on to study literature but the dream caught up to me and I am finally realizing it.</p>

<h1>Commitment to Improvement</h1>

<p>"The underlying bureaucratic key is the ability to deal with boredom. To function effectively in an environment that precludes everything vital and human. To breathe, so to speak, without air.

The key is the ability, whether innate or conditioned, to find the other side of the rote, the picayune, the meaningless, the repetitive, the pointlessly complex. To be, in a word, unborable.

It is the key to modern life. If you are immune to boredom, there is literally nothing you cannot accomplish.”
― David Foster Wallace, The Pale King <br>

Maybe, but what about eliminating boredom from our lives. The mission of a software developer is to automate what is repetitive, meaningless and pointlessly complex in order to get it out of our lives. I thourougly embrace this mission and I am committed to delivering software that is beautiful, technologically advanced and reduces complexity, making people's life easier.
</p>
