{{outlet}}
<p>Wanna build the next best web application?</p>

<p>Contact me</p>

<p>
 Linkedin<br>
 Facebook<br>
 Twitter<br>

</p>



<p>mail me</p>

{{#link-to "index"}}Home{{/link-to}}
{{#link-to "about"}}About me{{/link-to}}
