{{outlet}}
<div class="quote">


<p>"The underlying bureaucratic key is the ability to deal with boredom. To function effectively in an environment that precludes everything vital and human. To breathe, so to speak, without air.

The key is the ability, whether innate or conditioned, to find the other side of the rote, the picayune, the meaningless, the repetitive, the pointlessly complex. To be, in a word, unborable.

It is the key to modern life. If you are immune to boredom, there is literally nothing you cannot accomplish.”
</p></div>
<p>
― David Foster Wallace, The Pale King</p>

<div class='comment'>
    <p>Maybe, but what about eliminating boredom from our lives. The mission of a software developer is to automate what is repetitive, meaningless and pointlessly complex in order to get it out of our lives. I thourougly embrace this mission and I am committed to delivering software that is beautiful, technologically advanced and reduces complexity, making people's life easier.
    </p>
</div>
