{{outlet}}
<h1>Welcome to my website</h1>

<p>We hope you find exactly what you're looking for.</p>
{{filter-project filteredList = filteredList autoComplete=(action 'autoComplete') search=(action 'search')}}

{{#each model as |project-unit|}}
{{project-listing project=project-unit}}
{{/each}}

{{#link-to "about"}}About{{/link-to}}
{{#link-to "contact"}}Contact{{/link-to}}
