{{outlet}}
<div class="row">
  <div class="col-sm-12" id="search">
    <h2>MY PROJECTS</h2>
    {{filter-project filteredList = filteredList autoComplete=(action 'autoComplete') search=(action 'search')}}
  </div>
</div>
<!-- <div class="flexcontainer"> -->

<!-- {{#each model as |project-unit|}}

    {{project-listing project=project-unit class="flexitem"}}
</div>
{{/each}} -->

{{#row-creating items=model as |project-unit|}}
    {{project-listing project=project-unit class="flexitem"}}
{{/row-creating}}
